{% extends 'base.html.twig' %}

{% block title %}Episode index{% endblock %}

{% block body %}
    <div class="container-fluid pad-top">
        <div class="d-flex justify-content-between">
            <div><h1>Episode index</h1></div>
            <div class="align-self-center"><a class="text-white" href="{{ path('episode_new') }}">Add <i class="text-light fas fa-plus"></i></a></div>
        </div>
        <table class="table text-white">
            <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Number</th>
                <th>Synopsis</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for category, messages in app.flashes %}
                {% for message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            {% for episode in episodes %}
                <tr>
                    <td>{{ episode.id }}</td>
                    <td>{{ episode.title }}</td>
                    <td>{{ episode.number }}</td>
                    <td>{{ episode.synopsis }}</td>
                    <td>
                        <a href="{{ path('episode_show', {'slug': episode.slug}) }}"><i class="m-1 text-light fas fa-eye"></i>Show</a>
                        <a href="{{ path('episode_edit', {'slug': episode.slug}) }}"><i class="m-1 text-warning far fa-edit"></i>Edit</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="5">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
