
{% extends 'base.html.twig' %}

{% block title %}Season index{% endblock %}

{% block body %}
    <div class="container-fluid pad-top">
        <div class="d-flex justify-content-between">
            <div><h1>Season index</h1></div>
            <div class="align-self-center"><a class="text-white" href="{{ path('season_new') }}">Add <i class="text-light fas fa-plus"></i></a></div>
        </div>
        <table class="table text-white">
            <thead>
            <tr>
                <th>Id</th>
                <th>Year</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
            </thead>
            <tbody>
            {% for season in seasons %}
                <tr>
                    <td>{{ season.id }}</td>
                    <td>{{ season.year }}</td>
                    <td>{{ season.description }}</td>
                    <td>
                        <a href="{{ path('season_show', {'id': season.id}) }}"><i class="m-1 text-light fas fa-eye"></i></a>
                        <a href="{{ path('season_edit', {'id': season.id}) }}"><i class="m-1 text-warning far fa-edit"></i></a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
