{% extends 'base.html.twig' %}

{% block title %}Program index{% endblock %}

{% block body %}
    <div class="container-fluid table-responsive-sm pad-top">
        <div class="d-flex justify-content-between">
            <div><h1>Program index</h1></div>
            <div class="align-self-center"><a class="text-white" href="{{ path('program_new') }}">Add <i
                            class="text-light fas fa-plus"></i></a></div>
        </div>
        {% for program in programs %}
           <h2>{{ program.title }}</h2>
            <ul class="list-unstyled">

                <li>{{ program.summary }}</li>
                <li><img class="w-10" src="{{ program.poster }}" alt=""></li>
                {% for actor in program.actors %}
                    <ul class="list-unstyled">
                        <li>{{ actor.name }} </li>
                    </ul>
                {% endfor %}
                <li>
                    <a href="{{ path('program_show', {'slug': program.slug}) }}"><i
                                class="m-1 text-light fas fa-eye"></i></a>
                    <a href="{{ path('program_edit', {'slug': program.slug}) }}"><i
                                class="m-1 text-warning far fa-edit"></i></a>
                </li>
                <li>

                </li>
            </ul>
        {% else %}
            <ul class="list-unstyled">
                <td colspan="5">no records found</td>
            </ul>
        {% endfor %}

    </div>
{% endblock %}
