{% extends 'base.html.twig' %}

{% block title %}{{ program.title }}{% endblock %}

{% block body %}
    <div class="container-fluid pad-top">
        <h1>{{ program.title }}</h1>

        <table class="table text-white">
            <tbody>

                <img src="{{ program.poster }}">

            <tr>
                <th>Title</th>
                <td>{{ program.title }}</td>
            </tr>
            <tr>
                <th>Summary</th>
                <td>{{ program.summary }}</td>
            </tr>
            </tbody>
        </table>
        <strong>Acteur :</strong>
        <ul>
            {% for actor in program.actors %}
                <li><a href="{{ path('wild_show_actor', {'name': actor.name}) }}">{{ actor.name }}</a></li>
            {% else %}
                <li>Aucun acteur pour cette série</li>
            {% endfor %}
        </ul>
        <div class="d-flex justify-content-between">
            <ul>
            <li>
                <a class="text-white" href="{{ path('program_show', {'slug': program.slug}) }}">Visualiser</a>

            </li>
            <li>
                <a class="text-white"  href="{{ path('program_edit', {'slug': program.slug}) }}">Editer</a>
            </li>
            </ul>
        </div>
    </div>
{% endblock %}
