{% extends 'base.html.twig' %}
{% block title %}{% endblock %}

{% block body %}
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="text-black-50 font-weight-bold mt-3">episode {{ episode.title }} de <br>{{ program.title }}</h1>
            <p>
                <a href="{{ path('category_index') }}" class="btn btn-primary my-2">Toutes les categories</a>
                <a href="{{ path('wild_index') }}" class="btn btn-success my-2">Toutes les séries</a>
                <a href="{{ path('wild_show_actors') }}" class="btn btn-secondary my-2">Tout les acteurs</a>
            </p>
        </div>
    </section>
    <h1 class="mt-2">{{ program.title }}</h1>
    <div class="media container d-flex flex-column">
        <img class="align-self-center mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
        <div>

            <h2>Saison :{{ season.description }}</h2>
            <h3>Episode :{{ episode.title }}</h3>
            <p>Synopsis :{{ episode.synopsis }}</p>
        </div>
        <div>
            <h2>Commentaires</h2>
            {% for comment in comments %}

                <ul>
                    <li>Auteur : {{ comment.author.username }}</li>
                    <li>Episode : {{ program.title }} : {{ comment.episode.title }}</li>
                    <li>Commentaire : {{ comment.comment }}</li>
                    <li>Note : {{ comment.rate }}</li>
                    {% if is_granted("ROLE_SUBSCRIBER") and app.user.email == comment.author.email or is_granted("ROLE_ADMIN")%}
                        <a href="{{ path('wild_delete',{'id' : comment.id}) }}">Delete commentaire</a>
                    {% endif %}
                </ul>


            {% endfor %}
        </div>
        {% if app.user %}
            <h2>Ajouter un commentaire</h2>
            {{ form_start(form) }}
            {{ form_widget(form) }}
            <button class="btn btn-primary">Ajouter</button>
            {{ form_end(form) }}
        {% endif %}
    </div>
    <div class="container d-flex justify-content-center">
        <div class="p-5">

        </div>

        <div><p><a href="{{ path('wild_index') }}"> Retour à l'accueil </a>
            <p>
            <p><a href="{{ path('wild_program_season', {'id': season.id }) }}"> Retour a la saison </a></p>
        </div>
    </div>
    </div>
{% endblock %}
