{% extends 'base.html.twig' %}

{% block title %}All programs{% endblock %}
{% block body %}
    <h1> Toutes les series de la table program :</h1>
    {{ form_start(form) }}
    {{ form_row(form.searchField) }}
    <button type="submit" name="btnSearch">Rechercher</button>
    {{ form_end(form) }}
    {% for program in programs %}
        <a href="{{ path('wild_show') }}/{{ program.title }}"><h2>{{ loop.index }}/{{ program.title }} - Catégorie
                : {{ program.category.name }}</h2></a>
        <h2>{{ program.summary }}</h2>
        </div>
    {% else %}
        Aucune série trouvée .
    {% endfor %}


{% endblock %}

