{% extends 'base.html.twig' %}
{% block title %}{{ slug }}{% endblock %}

{% block body %}

    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="text-black-50 font-weight-bold mt-3">Toutes les saisons de {{ program.title }}</h1>
            <p>
                <a href="{{path('category_index')}}" class="btn btn-primary my-2">Toutes les categories</a>
                <a href="{{path('wild_show_actors')}}" class="btn btn-secondary my-2">Tout les acteurs</a>
            </p>
        </div>
    </section>
<div class="container" >
        <h1 class="text-center">{{ program.title }}</h1>

    <img class="align-self-start " src="{{program.poster}}" alt="{{ program.title }} poster">
    <div class="media">
    <div class="media-body">

            <p>{{ program.summary }}</p>
            <p>Categorie : {{ program.category.name }}</p>

            {% for season in seasons %}
                <div>
                    <p>Saison : {{ season.number }}</p>
                    <a class="text-white" href="{{ path('wild_program_season', {'id': season.id }) }}">{{ season.description }}</a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
    <a href="{{ path('wild_index') }}">
        Retour à l'accueil
    </a>

{% endblock %}
