
<nav class="navbar navbar-expand-lg navbar-light bg-black">
    <a class="navbar-brand text-white" href="{{ path('app_index') }}">Wild Séries</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active text-white" href="{{ path('category_index') }}">Categories <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link text-white" href="{{ path('wild_index') }}">Séries</a>
            <a class="nav-item nav-link text-white" href="{{path('wild_show_actors')}}">Acteurs</a>
            <a class="nav-item nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
        </div>
    </div>
    {% if app.user %}
        <p class="nav-link">
            {{ app.user.email }}
        </p>
        <p>
            <a href="{{ path('wild_my_profil')}}" class="nav-link">mon profil</a>
            <a class="nav-link" href="{{ path('app_logout') }}"> Se déconnecter</a>
        </p>
    {% else %}
        <a class="nav-link" href="{{ path('app_login') }}"> Se connecter</a>
        <a class="nav-link" href="{{ path('app_register') }}"> S'inscrire</a>

        </p>
    {% endif %}
</nav>
